.env
analysis_results/
ao3_data/
saved_posts/
data/
downloads/
extracted_data/
hotaudio_data/
node_modules/
pornhub_data/
reddit_data/
scriptbin_data/
soundgasm_data/
ytdlp_data/
whypit_data/
__pycache__