services:
  db:
    image: postgres:16.0
    restart: always
    ports:
      - 5434:5432
    volumes:
      - db_volume:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${USERNAME}
      POSTGRES_PASSWORD: ${PASSWORD}
      POSTGRES_DB: ${DATABASE}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "sh -c 'pg_isready -U ${USERNAME} -d ${DATABASE}'"
        ]
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  db_volume:
